<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.waki.ezpzmath">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ezpzmath_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ezpzmath_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LevelsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ModesActivity"/>
        <activity
            android:name=".ModesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScoreActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".ModesActivity"/>
        <activity android:name=".SettingsActivity"
            android:parentActivityName=".ModesActivity"/>
    </application>

</manifest>